<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wj.sampleproject">

    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读写外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/app_network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <!-- 全面屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <!-- 欢迎界面 -->
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 搜索界面 -->
        <activity
            android:name=".activity.SearchActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <!-- WebView 界面 -->
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <!-- 注册界面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WhiteStatusBar" />
        <!-- 收藏界面 -->
        <activity
            android:name=".activity.CollectionActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <!-- 收藏网站界面 -->
        <activity
            android:name=".activity.CollectedWebActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- 体系文章列表界面 -->
        <activity
            android:name=".activity.SystemArticlesActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
    </application>

</manifest>